---
to: "<%= projectName %>/.env.example"
force: true
---
# Nuxt
NUXT_PUBLIC_APP_NAME=<%= projectName %>

# Database
DATABASE_URL="file:./<%= projectName %>.db"

# Auth
JWT_SECRET=change-me-in-production
