---
to: "<%= projectName %>/src/app/layout.tsx"
---
import type { Metadata } from 'next'
import '@/assets/globals.css'

export const metadata: Metadata = {
  title: '<%= projectNamePascal %>',
  description: 'Generated with create-project',
}

export default function RootLayout({ children }: { children: React.ReactNode }) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  )
}
