---
to: "<%= projectName %>/backend/.env.example"
force: true
skip_if: "<%= backend !== 'fastapi' && backend !== 'express' %>"
---
# Database - MySQL
DATABASE_URL=mysql+aiomysql://root:root@localhost:3306/<%= projectName %>
